<div class="card card-container shadow in-block align-center">
    <div class="card-body">
      <div class="row align-center">
        <img class="card-img-top card-image" src="https://randomuser.me/api/portraits/men/64.jpg" alt="Card image cap">
      </div>
      <div class="row align-center">
        <!-- <i class="fa fa-circle" style="color: rgb(238, 201, 39);"></i> -->
        <i class="fa fa-map-marker"></i>
        <small class="mb-0 card-title ">Kuliyapitiya</small>
      </div>
      <h6 class="mt-0 mb-2 row align-center card-title ">Atheek Ahammed</h6>
    </div>
    <div class="card-container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="row align-center">75</div>
            <h6 class="row align-center">Task</h6>
          </div>
          <div class="col">
            <div class="col">
              <div class="row align-center">4.7</div>
              <h6 class="row align-center">Stars</h6>
            </div>
          </div>
          <div class="col">
            <div class="col">
              <div class="row align-center">423</div>
              <h6 class="row align-center">Views</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <button class="btn btn-primary">View</button>
  </div>
  

  