.card{
    margin: 5px;
  }
  .align-center{
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .circle-status{
    width: 250px;
    color: aquamarine;
  }
  .card-container{
    width: 240px;
    border-radius: 20px;
    border: none;
  }
  .titl-top{
    margin-top: 30px;
  }
  .card-image{
    margin-top: 25px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .card-title-padding{
    padding: 0;
  }
  .card-title{
    margin: 5px;
  }
  .card-body{
    padding: 0;
  }
  .in-block{
    display: inline-block;
  }
  .roe-items{
    margin: 10px;
  }
  button{
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  button:focus {
    border: none;
    outline: none;
  }