<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-12 container-bg sidebar-container align-center shadow" style="margin: 15px;">
      <img src="https://randomuser.me/api/portraits/men/64.jpg" class="img-width">
      <div class="h4 m-2">Atheek ahammed</div>
    </div>
    <div class="col-md-8 container-bg shadow" style="margin: 15px;">
      <div class="container">
        <div class="h1 m-3 mt-5"> About Me</div>
        <p class="container">
          Hello,I’m Akshay Handge Creative Graphic Designer & User Experience Desiger based
          in Website, I create digital Products a more Beautiful and usable place. This is Photoshop's version of Lorem
          Ipsum. Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
          ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulpuate
          cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.
        </p>
      </div>
    </div>
  </div>



  <div class="row">
    
    <div class="col-md-4 col-sm-12 container-bg shadow" style="margin: 15px;">
      <div class="container">
        <div class="h5 m-3 mt-3"> Personal Info</div>
        
      </div>
    </div>
    <div class="col-md-7 col-sm-12 container-bg sidebar-container align-center shadow" style="margin: 15px;">
      <div class="h5 m-3 mt-3"> Photos</div>
      
    </div>
  </div>

<!-- 
  .<div class="container">
    <div class="row ">
      <div class="col-md-5 container-bg shadow">
        <div class="h5">Personal Info</div>
        <div class="text-mar">Name</div>
        <div class="text-mar">Location</div>
        <div class="text-mar">Gender</div>
        <div class="text-mar">Address</div>
        <div class="text-mar">Email</div>
        <div class="text-mar">Phone</div>
      </div>
      <div class="col-md-4 container-bg shadow">sss</div>
    </div>
  </div> -->
</div>





















<!-- <div class="container-fluid mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 align-center">
        <div class="container align-center">
          <img src="https://randomuser.me/api/portraits/men/64.jpg" class="img-width" alt="">

          <div class="h4">Atheek Ahammed</div>
          <div class="h6">Software Engineer</div>
          <div class="h6">Kurunegala/Kuliyapitiya</div>
          <div class="h6">Computer Science</div>
          <div class="h6">(+94)-772640612</div>
          <div class="h6">atheek@gmail.com</div>
        </div>


      </div>
      <div class="col-sm-8">

      </div>
    </div>
  </div>
</div> -->